.text-number {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif !important;
}

.v-input--vertical {
  > .v-input__control {
    > .v-selection-control-group {
      > .v-selection-control {
        max-width: unset;
      }
    }
  }
}

.v-switch {
  > .v-input__control {
    > .v-selection-control {
      &.v-selection-control--dirty {
        &.v-selection-control--disabled {
          color: rgb(var(--v-theme-primary));
          > .v-selection-control__wrapper {
            > .v-switch__track {
              background-color: rgb(var(--v-theme-primary));
            }
            > .v-selection-control__input {
              > .v-switch__thumb {
                background-color: rgb(var(--v-theme-primary));
              }
            }
          }
        }
      }
    }
  }
}
