name: deploy-sandbox-qa
on:
  push:
    branches: [sandbox, qa]
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.DEPLOYER_AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DEPLOYER_AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ap-northeast-2
  AWS_S3_URL: s3://
  CF_DISTRIBUTION_ID_FOR_SANDBOX: DUMMY
  CF_DISTRIBUTION_ID_FOR_QA: DUMMY
jobs:
  deploy-sandbox-qa:
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-${{ github.ref_name }}
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 1

      - name: Install pnpm
        uses: pnpm/action-setup@master
        with:
          version: 'lastest'

      - name: Install Node.js
        uses: actions/setup-node@main
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Build
        run: pnpm run build --mode ${{ github.ref_name }}

      - name: Upload to S3
        run: |
          if [ $(( $RANDOM % 100 )) -eq 0 ]; then
            aws s3 sync --region $AWS_REGION dist $AWS_S3_URL/${{ github.ref_name }}/ --delete
          else
            aws s3 sync --region $AWS_REGION dist $AWS_S3_URL/${{ github.ref_name }}/
          fi

      - name: Invalidate CloudFront
        run: |
          if [ $GITHUB_REF_NAME = 'sandbox' ]; then
            CF_DISTRIBUTION_ID=$CF_DISTRIBUTION_ID_FOR_SANDBOX
          elif [ $GITHUB_REF_NAME = 'qa' ]; then
            CF_DISTRIBUTION_ID=$CF_DISTRIBUTION_ID_FOR_QA
          fi

          aws cloudfront create-invalidation --distribution-id ${CF_DISTRIBUTION_ID} --paths "/index.html"
