name: deploy-prod
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.DEPLOYER_AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DEPLOYER_AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ap-northeast-2
  AWS_S3_URL: s3://
  CF_DISTRIBUTION_ID: DUMMY
jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-prod
      cancel-in-progress: true
    steps:
      - name: checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 1

      - name: Get tag
        id: tag
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Update version of package.json
        run: |
          jq '.version = "${{ steps.tag.outputs.tag }}"' package.json > package.json.tmp
          mv package.json.tmp package.json

      - name: Update VITE_PRODUCT_VERSION of .env
        run: sed -i 's/VITE_PRODUCT_VERSION=.*/VITE_PRODUCT_VERSION=${{ steps.tag.outputs.tag }}/' .env

      - name: Install pnpm
        uses: pnpm/action-setup@master
        with:
          version: 'lastest'

      - name: Install Node.js
        uses: actions/setup-node@main
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Lint & tsc
        run: pnpm run lint

      - name: Build
        run: pnpm run build --mode prod

      - name: Upload to S3
        run: |
          if [ $(( $RANDOM % 100 )) -eq 0 ]; then
            aws s3 sync --region $AWS_REGION dist $AWS_S3_URL/prod/ --delete
          else
            aws s3 sync --region $AWS_REGION dist $AWS_S3_URL/prod/
          fi

      - name: Invalidate CloudFront
        run: aws cloudfront create-invalidation --distribution-id $CF_DISTRIBUTION_ID --paths "/index.html"
