name: test
on:
  push:
    branches: ['**']
    tags-ignore: ['**']
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 1

      - name: Install pnpm
        uses: pnpm/action-setup@master
        with:
          version: 'lastest'

      - name: Install Node.js
        uses: actions/setup-node@main
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: lint & tsc
        run: pnpm run lint

      - name: Build
        if: github.ref != 'refs/heads/sandbox' && github.ref != 'refs/heads/qa'
        run: pnpm run build --mode prod
